<!DOCTYPE html>
<html lang="ja">
  <head>

  </head>
  <body>
    <!-- PT: header -->
    <script src="/assets/js/partial-templates/header.html.js"></script>
    <!-- // -->
    <main>
      <article>
        <div class="wfx">
          <header id="page-header" data-grid>
            <div data-grid-cell>
              <div data-layout="arranger">
                <div data-position="left">
                  <h2 id="page-name">観測グラフ - 一覧</h2>
                </div>
              </div>
            </div>
            <div data-grid-cell>
              <div data-layout="arranger">
                <div data-position="right">
                  <div data-component="search-form">
                    <input type="search" data-styled placeholder="検索" name="search" value="">
                    <button data-styled data-appearance="icon" data-variant><i class="far fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <div data-grid-cell>
              <div data-layout="arranger">
                <div data-position="right">
                  <div data-component="toolbar">
                    <label>15個の項目</label>
                    <nav data-component="pagination">
                      <div data-part="items">
                        <button><i class="fal fa-angle-double-left"></i></button>
                        <button><i class="fal fa-angle-left"></i></button>
                        <div data-part="page-counter">
                          <input data-part="current" type="text" value="1">
                          <span data-part="total">2</span>
                        </div>
                        <button><i class="fal fa-angle-right"></i></button>
                        <button><i class="fal fa-angle-double-right"></i></button>
                      </div>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <div id="page-body" data-grid>
            <div data-grid-cell="canvas">
              <div data-grid>
                <div data-grid-cell>
                  <table data-styled data-appearance-mobile="list-view" data-variant-mobile="^icon ^controls">
                    <thead>
                      <tr>
                        <th colspan="2">画面名</th>
                        <th>ID</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td data-part="icon"><img class="list-view-icon" src="/assets/img/placeholder_square.svg" alt=""></td>
                        <td data-scope="圃場">観測グラフ表示画面</td>
                        <td data-scope="ID">10000001</td>
                        <td data-scope="操作" data-arrangement="text-align-center" data-part="controls">
                          <div data-component="inline-toolbar" data-variant="icons" data-variant-mobile="^vertical">
                            <ul data-part="items">
                              <li>
                                <a data-styled data-appearance="icon" href="sample_chart3" title="編集"><i class="fad fa-eye"></i></a>
                              </li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td data-part="icon"><img class="list-view-icon" src="/assets/img/placeholder_square.svg" alt=""></td>
                        <td data-scope="圃場">観測グラフ表示画面（異常表示）</td>
                        <td data-scope="ID">10000002</td>
                        <td data-scope="操作" data-arrangement="text-align-center" data-part="controls">
                          <div data-component="inline-toolbar" data-variant="icons" data-variant-mobile="^vertical">
                            <ul data-part="items">
                              <li>
                                <a data-styled data-appearance="icon" href="sample_chart2" title="編集"><i class="fad fa-eye"></i></a>
                              </li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td data-part="icon"><img class="list-view-icon" src="/assets/img/placeholder_square.svg" alt=""></td>
                        <td data-scope="圃場">観測グラフ表示画面（ズームバー確認1）</td>
                        <td data-scope="ID">10000003</td>
                        <td data-scope="操作" data-arrangement="text-align-center" data-part="controls">
                          <div data-component="inline-toolbar" data-variant="icons" data-variant-mobile="^vertical">
                            <ul data-part="items">
                              <li>
                                <a data-styled data-appearance="icon" href="sample_chart4" title="編集"><i class="fad fa-eye"></i></a>
                              </li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td data-part="icon"><img class="list-view-icon" src="/assets/img/placeholder_square.svg" alt=""></td>
                        <td data-scope="圃場">観測グラフ表示画面（ズームバー確認2）</td>
                        <td data-scope="ID">10000003</td>
                        <td data-scope="操作" data-arrangement="text-align-center" data-part="controls">
                          <div data-component="inline-toolbar" data-variant="icons" data-variant-mobile="^vertical">
                            <ul data-part="items">
                              <li>
                                <a data-styled data-appearance="icon" href="sample_chart8" title="編集"><i class="fad fa-eye"></i></a>
                              </li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td data-part="icon"><img class="list-view-icon" src="/assets/img/placeholder_square.svg" alt=""></td>
                        <td data-scope="圃場">散布図表示</td>
                        <td data-scope="ID">10000004</td>
                        <td data-scope="操作" data-arrangement="text-align-center" data-part="controls">
                          <div data-component="inline-toolbar" data-variant="icons" data-variant-mobile="^vertical">
                            <ul data-part="items">
                              <li>
                                <a data-styled data-appearance="icon" href="sample_chart1" title="編集"><i class="fad fa-eye"></i></a>
                              </li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td data-part="icon"><img class="list-view-icon" src="/assets/img/placeholder_square.svg" alt=""></td>
                        <td data-scope="圃場">グラフ比較表示(同一項目の別期間)</td>
                        <td data-scope="ID">10000005</td>
                        <td data-scope="操作" data-arrangement="text-align-center" data-part="controls">
                          <div data-component="inline-toolbar" data-variant="icons" data-variant-mobile="^vertical">
                            <ul data-part="items">
                              <li>
                                <a data-styled data-appearance="icon" href="sample_chart5" title="編集"><i class="fad fa-eye"></i></a>
                              </li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td data-part="icon"><img class="list-view-icon" src="/assets/img/placeholder_square.svg" alt=""></td>
                        <td data-scope="圃場">グラフ比較表示(別項目の同一期間)</td>
                        <td data-scope="ID">10000006</td>
                        <td data-scope="操作" data-arrangement="text-align-center" data-part="controls">
                          <div data-component="inline-toolbar" data-variant="icons" data-variant-mobile="^vertical">
                            <ul data-part="items">
                              <li>
                                <a data-styled data-appearance="icon" href="sample_chart6" title="編集"><i class="fad fa-eye"></i></a>
                              </li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td data-part="icon"><img class="list-view-icon" src="/assets/img/placeholder_square.svg" alt=""></td>
                        <td data-scope="圃場">グラフ比較表示(別項目の別期間)</td>
                        <td data-scope="ID">10000007</td>
                        <td data-scope="操作" data-arrangement="text-align-center" data-part="controls">
                          <div data-component="inline-toolbar" data-variant="icons" data-variant-mobile="^vertical">
                            <ul data-part="items">
                              <li>
                                <a data-styled data-appearance="icon" href="sample_chart7" title="編集"><i class="fad fa-eye"></i></a>
                              </li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td data-part="icon"><img class="list-view-icon" src="/assets/img/placeholder_square.svg" alt=""></td>
                        <td data-scope="圃場">ツールチップを上部に表示する。（不可）</td>
                        <td data-scope="ID">10000008</td>
                        <td data-scope="操作" data-arrangement="text-align-center" data-part="controls">
                          <div data-component="inline-toolbar" data-variant="icons" data-variant-mobile="^vertical">
                            <ul data-part="items">
                              <li>
                                <a data-styled data-appearance="icon" href="sample_chart9" title="編集"><i class="fad fa-eye"></i></a>
                              </li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td data-part="icon"><img class="list-view-icon" src="/assets/img/placeholder_square.svg" alt=""></td>
                        <td data-scope="圃場">任意の位置に縦軸を追加する。</td>
                        <td data-scope="ID">10000009</td>
                        <td data-scope="操作" data-arrangement="text-align-center" data-part="controls">
                          <div data-component="inline-toolbar" data-variant="icons" data-variant-mobile="^vertical">
                            <ul data-part="items">
                              <li>
                                <a data-styled data-appearance="icon" href="sample_chart10" title="編集"><i class="fad fa-eye"></i></a>
                              </li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td data-part="icon"><img class="list-view-icon" src="/assets/img/placeholder_square.svg" alt=""></td>
                        <td data-scope="圃場">最大48項目の表示を行う。</td>
                        <td data-scope="ID">100000010</td>
                        <td data-scope="操作" data-arrangement="text-align-center" data-part="controls">
                          <div data-component="inline-toolbar" data-variant="icons" data-variant-mobile="^vertical">
                            <ul data-part="items">
                              <li>
                                <a data-styled data-appearance="icon" href="sample_chart11" title="編集"><i class="fad fa-eye"></i></a>
                              </li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <footer id="page-footer" data-grid>
            <div data-grid-cell>
              <div data-layout="arranger">
                <div data-position="right">
                  <div data-component="toolbar">
                    <label>15個の項目</label>
                    <nav data-component="pagination">
                      <div data-part="items">
                        <button><i class="fal fa-angle-double-left"></i></button>
                        <button><i class="fal fa-angle-left"></i></button>
                        <div data-part="page-counter">
                          <input data-part="current" type="text" value="1">
                          <span data-part="total">2</span>
                        </div>
                        <button><i class="fal fa-angle-right"></i></button>
                        <button><i class="fal fa-angle-double-right"></i></button>
                      </div>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </article>
    </main>
    <!-- PT: footer -->
    <script src="/assets/js/partial-templates/footer.html.js"></script>
    <!-- // -->
  </body>
</html>